<style>
#frmAuth0Login, #public {	width: 280px;	margin: 30px auto;	/*padding: 10px;*/	border-width: 1px;}body .a0-iconlist {	position: relative;	top: 140%}div.a0-input-box {	position: relative;	top: -46%}body #a0-lock .a0-panel::after, #a0-lock .a0-panel::before {	content: none;	display: table;}body #a0-lock.a0-theme-default .a0-panel .a0-icon-container .a0-image {	padding-top: 0px;	padding-bottom: -10px;}body #a0-lock.a0-theme-default .a0-panel .a0-icon-container .a0-image img	{	height: 0px;}body .a0-panel .a0-separator, body #a0-lock.a0-theme-default .a0-zocial.a0-block.a0-github,	body #a0-lock.a0-theme-default .a0-zocial.a0-block.a0-box, body #a0-lock.a0-theme-default .a0-zocial.a0-block.a0-googleplus,	body .a0-panel .a0-emailPassword, body #a0-lock.a0-theme-default .bottom-content	{ /* */	display: none}a.a0-zocial img {	width: 38px}

</style>
  <div id='frmAuth0Login'></div>
  <script> 
var auth0require = require.config({
    "context": "auth0",
    "baseUrl": "js",
    "paths": {
        "auth0-lock": "//cdn.auth0.com/js/lock-9.min",
        "jquery": "//code.jquery.com/jquery-2.2.2.min"
    }
});
auth0require(['require', 'jquery', 'auth0-lock'], function(require, $, Auth0Lock) {
    var connections = [{
        "name": "google-oauth2",
        "text": "LOGIN WITH GOOGLE"
    }];
    var lock = new Auth0Lock(oauth.client_id, oauth.domain);
    lock.on('signin ready', function() {
        $('.a0-iconlist').html('<div style="font-size: 140%">Please click one of the buttons below to log in.</div><br />');
        if (connections == null || connections.length == 0) {
            $('<div>There was no data returned. This is a temporary issue.</div>' + '<form><input type="submit" value="Please Retry" /></form>').appendTo('.a0-iconlist');
        } else {
            $.each(connections, function(connectionIdx, connectionDetails) {
                if (connectionDetails == null) {
                    console.log("Connection #" + connectionIdx + " is nul");
                    return true;
                }
                if (connectionDetails.logo == null) {
                    var link = $('<a class="a0-zocial a0-' + (connectionDetails.name == 'google-oauth2' ? 'googleplus' : connectionDetails.name) + '" href="#">' + '<span style="text-transform: none">' + connectionDetails.text + '</span></a>');
                } else {
                    var logoimg = (connectionDetails.logo != null ? connectionDetails.logo : 'unknown.jpg');
                    var link = $('<a class="a0-zocial a0-' + connectionDetails.name + '" href="#" style="background-color: ' + connectionDetails.background_color + '">' + '<img src="' + logoimg + '" style="background-color: ' + connectionDetails.background_color + '; ' + 'padding-top: 4px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; vertical-align: middle"/>' + '<span style="text-transform: none">' + connectionDetails.text + '</span></a>');
                }
                link.appendTo('.a0-iconlist');
                link.on('click', function() {
                    lock.getClient().login({
                        connection: connectionDetails.name
                    });
                });
            });
        }
    });
    lock.show({
        "container": "frmAuth0Login",
        "dict": {
            signin: {
                title: "Login with one of these providers:",
                footerText: 'Please click one of the buttons above and you will be redirected to your provider\'s website.'
            }
        },
        rememberLastLogin: false,
        sso: false,
        callbackURL: oauth.callbackURL,
        responseType: "code",
        disableSignupAction: true,
        disableResetAction: true,
        socialBigButtons: false,
        connection: [''],
        "authParams": {
            "scope": "openid profile"
        }
    });
    $('.a0-image').css('display', 'none');
    $('#a0-lock.a0-theme-default .a0-panel .a0-icon-container').css('padding-top', '2px');
    $('#a0-lock.a0-theme-default .a0-panel .a0-bg-gradient').css('height', '70%');
    $('#a0-lock.a0-theme-default .a0-panel .a0-mode form .a0-body-content').css('padding-top', '0px');
    $('#a0-lock.a0-theme-default .a0-panel .a0-top-header').css('display', 'none');
});

  </script>
