<div>
<div id="patient-count-box">
	<span class="center large" id="spinner-total">{{#if spinning}}{{> spinner spinnerClasses}}{{/if}}</span>
	<span id="patient-count" class="blue center large">{{#if queryRan}}{{#if countDisplayOverride}}{{> (countDisplayOverride) totalPatients}}{{else}}{{outputPanel_obfuscate totalPatients}}{{/if}}{{else}}-{{/if}}</span><br></br>
	<span class="center medium">Total Participants</span><br></br>
    <div class="container" id="variant-data-container">
    	<a class="center btn btn-default hidden" id="variant-data-btn">Variant Explorer</a>
		<div id="variant-spinner"></div>
    </div>
	<div class="container" id="pic-sure-instances">
<a class="center btn btn-default" href="https://docs.google.com/forms/d/e/1FAIpQLScytC5iqVDo0j6DCmyzZXxGJ4Ka6nZZNuNHtVibFEB3WIW-VQ/viewform" target="_blank">Request Data</a>
	</div>
</div>
</div>
</div>
